*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background:linear-gradient(rgb(23, 23, 23), rgb(11, 11, 11));
    padding: 10px 0px;
}
section{
    height: 100%;
    width: 400px;
    background-color: rgb(0, 0, 0);
    margin: auto;
    border-radius: 10px;
    overflow: hidden;

    .all-reels{
        height: 100%;
        width: 100%;

        .reel{
            height: 100%;
            width: 100%;
            position: relative;

            .bottom{
                height: 15%;
                width: 100%;
                position: absolute;
                padding: 10px;
                bottom: 0;
                display: flex;
                align-items: start;
                justify-content: center;
                flex-direction: column;
                gap: 10px;
                
                .info{
                    display: flex;
                    gap: 10px;
                }
            }
        }
        .reel img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .info button{
            background-color: transparent;
            padding: 5px 20px;
            border: 1px solid white;
            border-radius: 5px;
        }
    }
}